version: '1'
services:
  web:
    type: web
    name: yield-gap-app
    dockerContext: .
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: your-app-name.onrender.com
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /

